body {
  background-image: radial-gradient(
    circle,
    #fca497,
    #f8a39f,
    #f3a4a7,
    #eea4ad,
    #e7a5b3,
    #e0a6b9,
    #d9a7be,
    #d1a8c2,
    #c7aac6,
    #bdacc8,
    #b4adc7,
    #acaec5
  );
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.app-box {
  max-width: 590px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #ea94ffbb;
  border-radius: 10px;
}
.card-group {
  border-radius: 15px;
  opacity: 0.6;
}
.search-bar {
  margin-top: 10px;
  border-radius: 3px;
}
.btn-outline-light {
  border-color: #9e7a7f;
}
.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:focus {
  background-color: #efb8bfc7 !important;
}
#search-text-input {
  opacity: 0.5;
}
.current-city {
  font-weight: 700;
}
.find-me {
  background-color: transparent;
}

.next-five {
  color: rgba(28, 30, 32, 0.589);
  font-weight: 600;
}
.convert-units {
  font-size: 15px;
  font-weight: 500;
  color: #113b34c5;
  position: relative;
  top: -20px;
}
.heading-temp {
  font-size: 40px;
}

#today-description {
  font-size: 16px;
  text-transform: capitalize;
}
#credits {
  font-size: small;
}
