body {
  background-image: radial-gradient(
    circle,
    #fca497,
    #f8a39f,
    #f3a4a7,
    #eea4ad,
    #e7a5b3,
    #e0a6b9,
    #d9a7be,
    #d1a8c2,
    #c7aac6,
    #bdacc8,
    #b4adc7,
    #acaec5
  );
  text-align: center;
  font-family: "Roboto", sans-serif;
}
p {
  line-height: 18px;
}
.card-title {
  margin-bottom: 0;
}
.app-box {
  max-width: 590px;
  margin: 30px auto;
  padding: 20px;
  border: 2px solid #ea94ffbb;
  border-radius: 10px;
}
.card-group {
  border-radius: 15px;
  opacity: 0.65;
}
.search-bar {
  margin-top: 10px;
  border-radius: 3px;
}
.btn-outline-light {
  border-color: #9e7a7f;
}
.btn-outline-light:hover,
.btn-outline-light:active,
.btn-outline-light:focus {
  background-color: #efb8bfc7 !important;
}
.current-city {
  font-weight: 700;
}
.unit-display {
  font-size: 15px;
  font-weight: 500;
  position: relative;
  top: -18px;
}
.heading-temp {
  font-size: 40px;
}

#search-text-input {
  opacity: 0.5;
}
#forecast-high-temp {
  font-weight: bold;
  font-size: 16px;
}
#forecast-low-temp {
  font-size: 16px;
}
#timestamp {
  font-size: small;
  padding-top: 30px;
}
#today-description {
  font-size: 15px;
  text-transform: capitalize;
}
#credits {
  font-size: small;
}
